.cnt{
  background: #606c88;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.overborder
{
  border-radius: 10px;
}

.f{
  color:white;
}

.k{
  color:#ffda79;
}

.bgs{
background: #DAE2F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tls{
  color:#f1f2f6;
  font-weight:bold;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.tl{
  color: #4a69bd;
  font-weight:bold;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.ts{

  font-weight: bold;
  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;

}

.form-control{
  background-color: beige;
}

.loginbg
{
background: #5f2c82;
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
background: linear-gradient(to right, #49a09d, #5f2c82);

}

td.tofar
{
  width:50px;
  word-wrap: break-word;
}
